LogicApps/LogicApps/GreetingInvoiceToBillingService.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "greetingServicePassword": {
      "type": "securestring"
    },
    "billingServicePassword": {
      "type": "securestring"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "GET_GreetingService.Invoices": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://stephanfuncdev.azurewebsites.net/api/invoice/2022/2",
                "authentication": {
                  "type": "Basic",
                  "username": "tran@gmail.com",
                  "password": "@parameters('greetingServicePassword')"
                }
              },
              "runAfter": {}
            },
            "For_each_GreetingService.Invoices": {
              "type": "Foreach",
              "foreach": "@body('Parse_GreetingService.Invoices')",
              "actions": {
                "Parse_GreetingService.Invoice": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each_GreetingService.Invoices')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "sender": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "password": {
                              "type": "string"
                            },
                            "created": {
                              "type": "string"
                            },
                            "modified": {
                              "type": "string"
                            }
                          }
                        },
                        "greetings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "message",
                              "from",
                              "to",
                              "timestamp"
                            ]
                          }
                        },
                        "year": {
                          "type": "integer"
                        },
                        "month": {
                          "type": "integer"
                        },
                        "costPerGreeting": {
                          "type": "integer"
                        },
                        "costTotal": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "runAfter": {}
                },
                "GET_BillingService.Invoice": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice/@{body('Parse_GreetingService.Invoice')?['sender']?['email']}/@{body('Parse_GreetingService.Invoice')?['year']}/@{body('Parse_GreetingService.Invoice')?['month']}?code=@{parameters('billingServicePassword')}"
                  },
                  "runAfter": {
                    "GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows": [
                      "Succeeded"
                    ]
                  }
                },
                "GET_Returned_200_OK": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('GET_BillingService.Invoice')['statusCode']",
                          200
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Parse_BillingService.Invoice": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('GET_BillingService.Invoice')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "year": {
                              "type": "integer"
                            },
                            "month": {
                              "type": "integer"
                            },
                            "customer": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "invoice_rows": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "count": {
                                    "type": "integer"
                                  },
                                  "amount": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "description",
                                  "count",
                                  "amount"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {}
                    },
                    "PUT_BillingService.Invoice": {
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice?code=@{parameters('billingServicePassword')}",
                        "body": {
                          "id": "@body('Parse_BillingService.Invoice')?['id']",
                          "year": "@body('Parse_BillingService.Invoice')?['year']",
                          "month": "@body('Parse_BillingService.Invoice')?['month']",
                          "customer": "@body('Parse_BillingService.Invoice')?['customer']",
                          "amount": "@body('Parse_GreetingService.Invoice')?['costTotal']",
                          "currency": "@body('Parse_GreetingService.Invoice')?['currency']",
                          "invoice_rows": "@body('GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows')"
                        }
                      },
                      "runAfter": {
                        "Parse_BillingService.Invoice": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "GET_BillingService.Invoice": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "POST_BillingService.Invoice": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice?code=@{parameters('billingServicePassword')}",
                          "body": {
                            "year": "@body('Parse_GreetingService.Invoice')?['year']",
                            "month": "@body('Parse_GreetingService.Invoice')?['month']",
                            "customer": "@body('Parse_GreetingService.Invoice')?['sender']?['email']",
                            "amount": "@body('Parse_GreetingService.Invoice')?['costTotal']",
                            "currency": "@body('Parse_GreetingService.Invoice')?['currency']",
                            "invoice_rows": "@body('GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows')"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  }
                },
                "GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Parse_GreetingService.Invoice')?['greetings']",
                    "select": {
                      "description": "@item()?['message']",
                      "count": "1",
                      "amount": "@body('Parse_GreetingService.Invoice')?['costPerGreeting']"
                    }
                  },
                  "runAfter": {
                    "Parse_GreetingService.Invoice": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_GreetingService.Invoices": [
                  "Succeeded"
                ]
              }
            },
            "Parse_GreetingService.Invoices": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('GET_GreetingService.Invoices')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "sender": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          }
                        }
                      },
                      "greetings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            },
                            "timestamp": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "message",
                            "from",
                            "to",
                            "timestamp"
                          ]
                        }
                      },
                      "year": {
                        "type": "integer"
                      },
                      "month": {
                        "type": "integer"
                      },
                      "amountPerGreeting": {
                        "type": "integer"
                      },
                      "totalAmount": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "sender",
                      "greetings",
                      "year",
                      "month",
                      "amountPerGreeting",
                      "totalAmount",
                      "currency"
                    ]
                  }
                }
              },
              "runAfter": {
                "GET_GreetingService.Invoices": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "greetingServicePassword": {
              "type": "SecureString"
            },
            "billingServicePassword": {
              "type": "SecureString"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 3
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "greetingServicePassword": {
            "type": "SecureString",
            "value": "[parameters('greetingServicePassword')]"
          },
          "billingServicePassword": {
            "type": "SecureString",
            "value": "[parameters('billingServicePassword')]"
          }
        }
      },
      "dependsOn": []
    }
  ],
  "outputs": {}
}